.pattern-container {
    padding: 20px;
    border: 1px solid #ccc;
    margin: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
  }
  
  .stock-date {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    align-items: center;
  }
  
  .pattern-time {
    margin-bottom: 10px;
    color: black;
    margin: 0px;
  }
  
  .sentiment {
    width: 50%;
  }

  .pattern {
    width: fit-content;
    padding: 0px 10px;
    border-radius: 7px;
    font-weight: bold;
  }

  .down-price, .up-price {
    transition: background-color 0.5s ease;
  }
  
  .down-price {
    background-color: red;
  }

  .up-price {
    background-color: green;
  }

  .container {
    display: flex;
    flex-direction: row;
  }
  
  .stock-list {
    height: 100vh;
    overflow-y: auto;
  }
  
  .patterns {
    width: 80%;
    padding: 10px;
    height: 100vh;
    overflow-y: auto;
  }
