.stock-tile {
    padding: 20px;
    border: 1px solid #ccc;
    margin: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}

.stock-tile h2 {
    font-size: 18px;
    color: #333;
    margin-bottom: 10px;
}

.stock-tile img {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
}

.stock-tile h3 {
    font-size: 18px;
    color: #666;
    margin-bottom: 10px;
}

.author {
    font-size: 16px;
    color: #333;
    margin-bottom: 10px;
}

.sentiment {
    /* border: 1px solid black; */
    /* background-color: #fff; */
    border-radius: 7px;
    width: fit-content;
    padding: 2px 10px;
    font-weight: bold;
    /* margin-bottom: 10px; */
}

.positive {
    background-color: rgba(0, 203, 0, 0.382);
    color: green;

}

.negative {
    background-color: rgba(255, 0, 0, 0.465);
    color: red;
}

.neutral {
    background-color: rgba(252, 213, 16, 0.511);
    color: rgb(71, 71, 71);
}

.probabilty-sentiment {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
    font-size: 14px;
}

.stock-tile p {
    font-size: 16px;
    color: #333;
    line-height: 1.5;
    margin-bottom: 10px;
}

.stock-tile a {
    display: inline-block;
    color: #007BFF;
    text-decoration: none;
    padding: 10px 20px;
    border: 1px solid #007BFF;
    border-radius: 5px;
    transition: all 0.3s ease;
}

.stock-tile a:hover {
    background-color: #007BFF;
    color: #fff;
}

.stock-news-container {
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    gap: 30px;
}
