/* .profile-dropdown {
  position: absolute;
} */

.hidden {
  display: none;
}

.navigation {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  list-style: none;
  align-items: center;
  padding-right: 35px;
  background-color: white;
  height: 100%;
  margin: 0px;
  padding: 16px;
  border-bottom: 1px solid gray;
  top: 0;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.06);
  z-index: 1;
}

.profile-dropdown {
  position: absolute;
  background: white;
  border: 1px solid #000;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
  border-radius: 0;
  font-size: 16px;
  text-align: left;
  padding: 10px;
  z-index: 1;
  max-width: 100%;
  transition: left 0.3s;
  list-style-type: none;
  left: auto;
  right: 0px;
  margin-top: 9px;
  flex-direction: column;
  gap: 2px;
  align-items: center;
  text-align: center;
}

.logo {
  height: 40px;
}

.left_nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  text-decoration: none;
  color: black;
  font-size: 25px;

}

.logo_text_parent {
  display: flex;
}

#hamburger {
  background-color: white;
  border: none;
}
